abcmiddleware/src/main/resources/wsdl/PagosService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.servicios.co/pagos/schemas" xmlns:tns="http://www.servicios.co/pagos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PagoResource" type="tns:Pago"/>
  <xs:element name="ReferenciaFactura" type="tns:ReferenciaFactura"/>
  <xs:element name="Resultado" type="tns:Resultado"/>
  <xs:element name="ResultadoConsulta" type="tns:ResultadoConsulta"/>
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
      <xs:element name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferenciaFactura">
    <xs:sequence>
      <xs:element name="referenciaFactura" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
      <xs:element name="totalPagar" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResultadoConsulta">
    <xs:sequence>
      <xs:element name="referenciaFactura" type="tns:ReferenciaFactura"/>
      <xs:element name="totalPagar" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>