abcmiddleware/src/main/resources/wsdl/PagosService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><!--Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown.--><definitions targetNamespace="http://www.servicios.co/pagos/service" xmlns:tns="http://www.servicios.co/pagos/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.servicios.co/pagos/schemas" schemaLocation="PagosService.xsd"/>
    </xsd:schema>
  </types>
  <message name="Pagar">
    <part name="Input" element="ns1:PagoResource" xmlns:ns1="http://www.servicios.co/pagos/schemas"/>
  </message>
  <message name="PagarResponse">
    <part name="Input" element="ns2:Resultado" xmlns:ns2="http://www.servicios.co/pagos/schemas"/>
  </message>
  <message name="Compensar">
    <part name="Input" element="ns3:PagoResource" xmlns:ns3="http://www.servicios.co/pagos/schemas"/>
  </message>
  <message name="CompensarResponse">
    <part name="Input" element="ns4:Resultado" xmlns:ns4="http://www.servicios.co/pagos/schemas"/>
  </message>
  <message name="Cosultar">
    <part name="Input" element="ns5:ReferenciaFactura" xmlns:ns5="http://www.servicios.co/pagos/schemas"/>
  </message>
  <message name="CosultarResponse">
    <part name="Input" element="ns6:ResultadoConsulta" xmlns:ns6="http://www.servicios.co/pagos/schemas"/>
  </message>
  <portType name="PagosInerface">
    <operation name="Pagar">
      <input ns7:Action="pagar" message="tns:Pagar" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://www.servicios.co/pagos/service/PagosInerface/PagarResponse" message="tns:PagarResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="Compensar">
      <input ns9:Action="compensar" message="tns:Compensar" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://www.servicios.co/pagos/service/PagosInerface/CompensarResponse" message="tns:CompensarResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="Cosultar">
      <input ns11:Action="consultar" message="tns:Cosultar" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://www.servicios.co/pagos/service/PagosInerface/CosultarResponse" message="tns:CosultarResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>